<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
             logFile="proxy_log.log"
             mustMatch="true">
    <serverUrls>
        <serverUrl url="http://10.8.6.6"
                   matchAll="true"/>
		<serverUrl url="http://10.0.0.31:6080"
                   matchAll="true"/>				   
		<serverUrl url="http://planet.rssi.ru"
                   matchAll="true"/>
    </serverUrls>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
