div.legend {
    background-color: white;
    color: black;
}

div.legend ul {
    margin-top: 0px;
    margin-left: 10px;
    padding: 0;
    list-style: none;
    text-align: left;
}
div.legend ul div.tree-view, div.legend ul div.selected {
    margin-left:25px;
}
div.legend ul div.tree-view ul, div.legend ul div.selected ul {
    margin-left:0px;
}

.legend_element_set {
    float: right;
    width: 56px;
    height: 16px;
}

.arrdown {
    vertical-align: middle;
    display: inline-block;
    height:16px;
    width:16px;
    cursor:pointer;
    background-image: url(../images/addicon/arrow-down.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.arrdown:hover {
    vertical-align: middle;
    display: inline-block;
    height:16px;
    width:16px;
    cursor:pointer;
    background-image: url(../images/addicon/arrow-down_s.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.arrup {
    vertical-align: middle;
    display: inline-block;
    height:16px;
    width:16px;
    cursor:pointer;
    background-image: url(../images/addicon/arrow-up.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.arrup:hover {
    vertical-align: middle;
    display: inline-block;
    height:16px;
    width:16px;
    cursor:pointer;
    background-image: url(../images/addicon/arrow-up_s.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.settings {
    vertical-align: middle;
    display: inline-block;
    height:16px;
    width:16px;
    cursor:pointer;
    background-image: url(../images/addicon/settings.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.settings:hover {
    vertical-align: middle;
    display: inline-block;
    height:16px;
    width:16px;
    cursor:pointer;
    background-image: url(../images/addicon/settings_s.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.close {
    vertical-align: middle;
    display: inline-block;
    height:16px;
    width:16px;
    cursor:pointer;
    background-image: url(../images/addicon/cross.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.close:hover {
    vertical-align: middle;
    display: inline-block;
    height:16px;
    width:16px;
    cursor:pointer;
    background-image: url(../images/addicon/cross_s.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.btn-ok {
    vertical-align: middle;
    display: inline-block;
    height:16px;
    width:16px;
    cursor:pointer;
    background-image: url(../images/addicon/btn-ok.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.btn-ok:hover {
    vertical-align: middle;
    display: inline-block;
    height:16px;
    width:16px;
    cursor:pointer;
    background-image: url(../images/addicon/btn-ok_s.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.legimg {
    /*margin-top:0px;*/
    height: 20px;
    width:20px;
    /*margin-bottom:-8px;*/
    vertical-align:middle;
    margin-right:5px;
}

.elLegend ul {
    list-style: none;
    padding-left: 15px;
    margin: 0px;
}

.elLegend ul li {
    list-style: none;
    margin: 0px;
}

.clsPlatform {
    position:relative;
    margin:0px;
    width:1px;
    height:1px;
    z-index:60;
}

.lineEditior {
    display:none;
    position:absolute;
    left: 5px;
    font-family:Georgia;
    padding: 10px 5px 5px 5px;
    border-radius: 5px;
    border: solid 1px black;
    width: 230px;
    height: 30px;
    background-color: white;
    vertical-align: middle;
}


.cPicker {
    position:absolute;
    display:none;
    right:2px; 
    top: 16px;
    border:1px solid black; 
    padding:2px; 
    background-color:white;
    width: 130px;
    height: 80px;
    z-index:99;
}

.cPickerBlock {    
    margin:1px;
    width:16px;
    height:16px;
    border:1px solid black;
}

.elLegend {
    color: black;
}

.elLegend .ard {
    cursor:pointer;
    float:left;
    height:25px;
    width:16px;
    background-image: url(../images/addicon/ard_ic.png);
    background-repeat: no-repeat;
    background-position: left center;
}
.elLegend .arr {
    float:left;
    height:25px;
    width:16px;
    cursor:pointer;
    background-image: url(../images/addicon/arr_ic.png);
    background-repeat: no-repeat;
    background-position: left center;
    vertical-align:middle;
}

div.FieldEditior {
    display:none;
    position:absolute;
    left: 5px;
    font-family:Georgia;
    padding: 10px 5px 5px 5px;
    border-radius: 5px;
    border: solid 1px black;
    width: 230px;
    height: 120px;
    background-color: white;
    vertical-align: middle;
}
div.showHide {
    display:none;
}
div.showHide:hover {
    display:block;
}
div.fieldSelectOptions {
    position:absolute;
    top:70px;
    left:0;
    width:200px;
    border:1px solid #ccc;
    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px;
    overflow:hidden;
    background:#f6f6f6;
    padding-top:2px;
}