html, body, #map {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFF;                 
    overflow: hidden;
    font-family: "Trebuchet MS";
}

#loginWindow {    
    position: absolute;
    left: 70px;
    top: 42px;
    height: 80px;
    width: 180px;
    padding: 10px 3px 10px 3px;
    z-index: 55;
    display:none;
}

#MainToolbar {
    transition:0.5s;
    opacity:0.3;    
    position: absolute;
    width: 220px;
    height: 32px;
    top: 5px;
    right: 18px;
    z-index: 60;
}

#MainToolbar:hover {    
    transition:0.5s;
    opacity:1;
    position: absolute;
    width: 220px;
    height: 32px;
    top: 5px;
    right: 18px;
    z-index: 120;
}

.OptionToolbar2 {
    opacity:1;    
    position: absolute;
    width: 240px;
    height: 32px;
    top: 5px;
    left: 18px;
    z-index: 70;
}

.OptionToolbar {
    transition:0.5s;
    opacity:0.3;    
    position: absolute;
    width: 240px;
    height: 32px;
    top: 5px;
    left: 18px;
    z-index: 60;
}

.OptionToolbar:hover {
    transition:0.5s;
    opacity:1;  
    position: absolute;
    width: 240px;
    height: 32px;
    top: 5px;
    left: 18px;
    z-index: 120;
}


#SelProdToolbar {
    transition:0.5s;
    opacity:0.6;
    position: absolute;
    width: 880px;
    height: 42px;
    top: -45px;
    right: 0;
    left: 0;
    margin-left:auto;
    margin-right:auto;
    z-index: 60;
}

#SelProdToolbar:hover {   
    transition:0.5s;
    opacity:1;    
    position: absolute;
    width: 880px;
    height: 42px;
    top: 5px;
    right: 0;
    left: 0;
    margin-left:auto;
    margin-right:auto;
    z-index: 120;
}

#basemapGalleryWindow {
    position: absolute;
    width: 150px;
    height: 500px;
    top: 42px;
    right: 18px;
    z-index: 45;
}

#basemapGalleryDiv{
    margin:20px;            
    width: 110px;
    height: 500px;
}

#overviewMapWindow {
    width:270px; 
    height:250px; 
    top: 54px; 
    right:9px;
}
#legendWindow {
    width:270px; 
    height:400px; 
    top: 314px; 
    right:9px;
    display:none;
}
#predictWindow {
    width:280px; 
    height:400px; 
    top: 314px; 
    right:300px;
    display:none;
}

#AdditionalDiv {
    position: absolute;
    width: 258px;   
    top: 54px;
    bottom:10px;
    left: 0px;
    z-index: 50;
    display:none;    
}

.CommonBorder {
    border-radius: 5px;     
    border: solid 1px white;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);    
}

.BackgroundBorder {
    background: url(../images/fonTexture.jpg); 
    color: black;
    font-family:Rosbank;
}

@font-face {
    font-family:Rosbank;
    src:url(../images/shrift1.ttf);
}

.ToolbarToggleButton {
    width:25px;
    height:24px;
    margin:15px 10px 10px 5px;                  
    -webkit-filter:drop-shadow(10px 10px 10px rgba(0,0,0,0.5));
    z-index: 50;
}

.ToolbarToggleButton:hover {
    cursor:pointer;
    width:25px;
    height:24px;
    margin:15px 10px 10px 5px;
    -webkit-filter:drop-shadow(0px 0px 15px #fff);
}

.dtp_input {
	border        : 0;
	border-radius : 0;
	padding       : 0;
	width         : 130px;
    background-color:transparent;
    color:white;
}

.fastcalendar {
    display:none;
    position:absolute;
    left: 0px;
    font-family:Georgia;
    padding: 10px 5px 5px 5px;
    border-radius: 5px;
    border: solid 1px white;
    width: 550px;
    height: 55px;
    background-color: grey;
    vertical-align: middle;
    z-index:60;
    top:-100px;  
}

.fc_inputs {
    width: 30px;
    vertical-align:middle; 
    height:24px;
    text-align:center; 
    border-radius:10px;
}

.moveable {
    position: absolute;                        
    cursor: pointer;
    z-index: 40;
    border-radius: 5px;     
    border: solid 1px white;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
    padding: 2px;  
    text-align:center;
}

.moveable_omap{
    position: absolute;                        
    cursor: pointer;
    z-index: 40;
    border-radius: 5px;     
    border: solid 1px white;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
    padding: 2px;  
}
        
ul.ulMain, ul.menu li ul{
    margin-top: 0px;
    margin-left: 10px;
    padding: 0;
    list-style: none;
}
ul.ulMain li{
    float: left;
}
ul.menu {
    margin-top: 0px;
    margin-left: 0px;
    padding: 0;
    list-style: none;
}

ul.menu li {
    float: left;
    width: 220px;
    text-align: center;
}
ul.menu li ul li {
    float: left;
    width: 220px;
    text-align: left;
    margin: 5px;
    padding:5px;
}
ul.menu li ul{
    display:list-item;
    opacity: 0;
    height:0px;
}


ul.menu li:hover ul{
   /* display: block; /* display the dropdown */
   opacity: 1;
   height:auto;
   -webkit-transition: all 0.5s ease-in-out;
   -moz-transition: all 0.5s ease-in-out;
   -ms-transition: all 0.5s ease-in-out;
   -o-transition: all 0.5s ease-in-out;
   transition: all 0.5s ease-in-out;
   display:block;
}

ul.menu li:before ul{
   /* display: block; /* display the dropdown */
   display:none;
}

ul.menu ul li:hover {
    background-color:#999; /* grey */
}

ul.ulMain li ul li{
    display:none;
}

ul.ulMain li:hover ul li{
   /* display: block; /* display the dropdown */
   display:block;
}

.MenuButton {
    position:relative;
    width:220px;
    height:80px;
    margin:0px;
    z-index: 55;
}

.MenuButton:hover {
    cursor:pointer;
    position:relative;
    width:220px;
    height:80px;
    margin:0px;
    z-index: 55;
}

#icSat {    
    background: url(../images/icons/Fut_Sat_s.png) no-repeat center;   
}

ul li:hover div#icSat { 
    background: url(../images/icons/Fut_Sat_s_c.png) no-repeat center;
}


#icHyd {    
    background: url(../images/icons/Fut_Hyd_s.png) no-repeat center;    
}

ul li:hover div#icHyd {    
    background: url(../images/icons/Fut_Hyd_s_c.png) no-repeat center;
}

#icMet {    
    background: url(../images/icons/Fut_Met_s.png) no-repeat center;    
}

ul li:hover div#icMet {    
    background: url(../images/icons/Fut_Met_s_c.png) no-repeat center;
}

#icFor {    
    background: url(../images/icons/Fut_For_s.png) no-repeat center;    
}

ul li:hover div#icFor {    
    background: url(../images/icons/Fut_For_s_c.png) no-repeat center;
}

ul#TabBorderSat, ul#TabBorderHyd, ul#TabBorderMet, ul#TabBorderFor {
    border-radius: 5px;
    width: 220px;
    max-height: 385px;
    margin-top:-35px;
    margin-left:0px;
    padding-top:30px;
    border: solid 1px white;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);  
    z-index:50;
    overflow-y:auto;
}

ul#TabBorderSat:after, ul#TabBorderHyd:after, ul#TabBorderMet:after, ul#TabBorderFor:after {
    display:block;
    clear: both;
    content: " ";
    height: 15px;  
}


ul#TabBorderSat li, ul#TabBorderHyd li, ul#TabBorderMet li, ul#TabBorderFor li {
    margin:5px;
    padding:0px;
    list-style-type:none; 
    width:95%;
    max-height:385px;
}

#timeWindow {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width:612px;
    height:60px;
    z-index: 40;
    text-align:center;
}

#timeInfo{    
    background-color: transparent;
    display: block;
    padding: 5px;
    position: absolute;
    text-align: center;
    top:0px;    
    width: 600px;
    z-index: 45;
}

.movTLIcon {
    cursor: pointer;
    position: absolute;
    background-image: url(../images/icons/move_icon.png);
    width: 30px;
    height: 30px;
    left: 0px;
    top: 0px;
    opacity:0.0;
    z-index:46;
}

.movTLIcon:hover {
    cursor: pointer;
    position: absolute;
    background-image: url(../images/icons/move_icon.png);
    width: 30px;
    height: 30px;
    left: 0px;
    top: 0px;
    opacity:1.0;
    z-index:46;
}

.selecttrans {
    color:white;
    border-radius: 0;
    background: transparent;
    width: 80px;    
    border: 0;
    line-height: 1;
    -webkit-appearance: none;
    text-align:right;
}
.selecttrans option {
    color:black;
    background: linear-gradient(rgba(118,168,211,238), rgba(91,140,181,238), rgba(75,123,167,238));
}

.dijitSliderLeftBumper, .dijitSliderProgressBar, .dijitSliderRightBumper {
    background-color : transparent;
}

.myIcon {
  background-image: url(../images/icons/search.png);
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
  text-align: center;
}

.listation {
    cursor:pointer;
    padding:5px;
}

.listation:hover {
    background-color : gray;
}
/* Tree view */
.tree-view {
    display: none;
}

.selected { 
   /* display: block;*/
    display:inline-table;
}
.ard {
    cursor:pointer;
    float:left;
    height:16px;
    width:16px;
    background-image: url(../images/addicon/ard_ic.png);
    background-repeat: no-repeat;
    background-position: left center;
}
.arr {
    float:left;
    height:16px;
    width:16px;
    cursor:pointer;
    background-image: url(../images/addicon/arr_ic.png);
    background-repeat: no-repeat;
    background-position: left center;
    vertical-align:middle;
}

#legendDiv {
    border-radius: 5px;
    border: solid 1px black;
    width:100%; 
    height:95%;
    background-color:white; 
    overflow-y:scroll;
    text-align:left;
    vertical-align:middle;
    line-height:25px;
}
.lockImage {
    background:url(../images/lock_lock.png);
    z-index:350;
}
.UnlockImage {
    background:url(../images/lock_unlock.png);
    z-index:350;
}

.SearchButton {
    background:url(../images/search_icon.png);
}

#AboutImage {
    position:absolute; 
    left:50%; 
    top:50%; 
    margin-top: -100px;
    margin-left: -250px;
    height:210px; 
    width:500px; 
    padding:10px 3px 10px 3px; 
    z-index:55; 
    align-content:center
}

.progress-bar {
        background-color: #1a1a1a;
        height: 15px;
        padding: 2px;
        width: 450px;
        margin: -5px 20px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        -moz-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
        -webkit-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
        box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
}

.progress-bar span {
        display: inline-block;
        height: 15px;
        width: 200px;
        margin: 1px 1px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
        -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
        box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
        -webkit-transition: width .4s ease-in-out;
        -moz-transition: width .4s ease-in-out;
        -ms-transition: width .4s ease-in-out;
        -o-transition: width .4s ease-in-out;
        transition: width .4s ease-in-out;
}

.silver span {
        background-color: #C0C0C0;
}

.glow span {
        -moz-box-shadow: 0 5px 5px rgba(255, 255, 255, .7) inset, 0 -5px 5px rgba(255, 255, 255, .7) inset;
        -webkit-box-shadow: 0 5px 5px rgba(255, 255, 255, .7) inset, 0 -5px 5px rgba(255, 255, 255, .7) inset;
        box-shadow: 0 5px 5px rgba(255, 255, 255, .7) inset, 0 -5px 5px rgba(255, 255, 255, .7) inset;
        -webkit-animation: animate-glow 1s ease-out infinite;
        -moz-animation: animate-glow 1s ease-out infinite;
}
@-webkit-keyframes animate-glow {
        0% { -webkit-box-shadow: 0 5px 5px rgba(255, 255, 255, .7) inset, 0 -5px 5px rgba(255, 255, 255, .7) inset;}
        50% { -webkit-box-shadow: 0 5px 5px rgba(255, 255, 255, .3) inset, 0 -5px 5px rgba(255, 255, 255, .3) inset;}
        100% { -webkit-box-shadow: 0 5px 5px rgba(255, 255, 255, .7) inset, 0 -5px 5px rgba(255, 255, 255, .7) inset;}
 }

@-moz-keyframes animate-glow {
        0% { -moz-box-shadow: 0 5px 5px rgba(255, 255, 255, .7) inset, 0 -5px 5px rgba(255, 255, 255, .7) inset;}
        50% { -moz-box-shadow: 0 5px 5px rgba(255, 255, 255, .3) inset, 0 -5px 5px rgba(255, 255, 255, .3) inset;}
        100% { -moz-box-shadow: 0 5px 5px rgba(255, 255, 255, .7) inset, 0 -5px 5px rgba(255, 255, 255, .7) inset;}
 }

.ProductStyle {
    position:absolute;
    color: black;
    margin-top:5px;
    padding:5px;
    /*position:absolute;*/
    top:0px;
    bottom:5px;
    overflow-y:auto;
    vertical-align:middle;
    line-height:25px;
}

.ProductStyle ul {
    list-style: none;
    padding-left: 15px;
    margin:5px;
}

.ProductStyle ul li {
    list-style: none;
    margin: 0px;
}

#InfoWindow {
    position:absolute; 
    left:350px; 
    right:350px; 
    top:50px; 
    height:900px; 
    width:500px; 
    padding:0px;
    z-index:55;   
    display: none;  
}
#InfoTriangle {
    position:absolute; 
    left:50px; 
    top:100px; 
    height:20px; 
    width:12px; 
    padding:0px;
    z-index:55;
    display: none;
}
.triangleRight {
    background-image: url(../images/addicon/triangle_right.png);
    margin-top: -10px;
    margin-left: -12px;
}
.triangleLeft {
    background-image: url(../images/addicon/triangle_left.png);
    margin-top: -10px;
    margin-left: -12px;
}
p.normal {
    font-weight: normal;
    padding:0px;
    margin:0px;
}

p.thick {
    font-weight: bold;
    padding:0px;
    margin:0px;
}

p.thicker {
    font-weight: 900;
}


div.selectBox {
    top:2px;    
    margin: 0px;    
    padding: 0px;
    /*background:#ccc;*/
    position:relative;
    display:inline-block;
    cursor:pointer;
    text-align:right;
    line-height:14px;
    height:14px;
    clear:both;
    color: black;
}
span.selected {
    padding: 0px;
    margin: 0px;
    width:65px;
    height:10px;
    /*color:blue;
    background:#f6f6f6;
    text-indent:14px;
    border:1px solid #ccc;
    border-right:none;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    background:#f6f6f6;
    overflow:hidden;*/
}
span.selectArrow {
    width:30px;
    border:1px solid #60abf8;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    text-align:center;
    font-size:20px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    background:#4096ee;
}
 
span.selectArrow,span.selected {
    position:relative;
    float:left;
    height:30px;
    z-index:1;
}
div.selectOptions {
    position:absolute;
    font-size:12px;
    top:0px;
    left:0;
    width:198px;
    border:1px solid #ccc;
    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px;
    overflow:hidden;
    background:#f6f6f6;
    padding-top:2px;
    display:none;
    z-index:65;
    cursor:pointer;
}

.inputTD {
    width:100%; 
    padding:1px; 
    margin:0px; 
    box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box;
}
.colorMapTD {
    height: 16px;
    margin:1px; 
    padding:1px; 
    border:1px solid black;
    width:100%;
    box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box;
}

div.selectOptions:hover {
    position:absolute;
    font-size:12px;
    top:0px;
    left:0;
    width:198px;
    border:1px solid #ccc;
    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px;
    overflow:hidden;
    background:#f6f6f6;
    padding-top:2px;
    display:block;
    z-index:65;
}
     
span.selectOption {
    display:block;
    width:80%;
    line-height:14px;
    padding:1px 10%;
}
 
span.selectOption:hover {
    color:#f6f6f6;
    background:#4096ee;         
}

/*fesrcplaneta*/
.fesrcplaneta_ruleMark {
    position:absolute; 
    top:12px; 
    width:1px; 
    height:10px; 
    background:black;
}
.fesrcplaneta_ruleLabel {
    position:absolute; 
    top:23px; 
    margin-left:-20px; 
    font-size: 11px; 
    width:40px; 
    height:15px;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none; 
}
.tbwc::-ms-clear {
   display: none;
}

div.trest div.trest2 {
    transition:0.5s;
    top: 0px;
    /*display:none;
    opacity:0;*/
} 

div.trest:hover div.trest2 {
    transition:0.5s;
    top: -35px;
    /*opacity:1;
    display:block;*/
} 

#mask {
    position:absolute;
    left:0;
    top:0;
    background-color:#000;
    z-index:9000;
}

.window {
    transition:0.5s;
    position:absolute;
    left:0;
    top:0;
    display:none;
    z-index:9999;
    padding:20px;
}

#dialog {
    width:300px; 
    height:150px;
    padding:10px;
    background-color:#ffffff;
}

.bl {
    border-left: 1px solid black;
}
.ptr {
    cursor:pointer;
}

.calendarDiv {
    position:absolute; 
    bottom:0px; 
    left:150px; 
    width:230px; 
    height:170px; 
    background-color: white; 
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    display: none;
}

.all_table_CSS {	
	margin:0px;padding:0px;
	width:100%;
	border:1px solid #000000;	
	-moz-border-radius-bottomleft:9px;	
	-webkit-border-bottom-left-radius:9px;	
	border-bottom-left-radius:9px;	
	-moz-border-radius-bottomright:9px;	
	-webkit-border-bottom-right-radius:9px;	
	border-bottom-right-radius:9px;	
	-moz-border-radius-topright:9px;	
	-webkit-border-top-right-radius:9px;	
	border-top-right-radius:9px;	
	-moz-border-radius-topleft:9px;	
	-webkit-border-top-left-radius:9px;	
	border-top-left-radius:9px;
}
.all_table_CSS table{	
	width:100%;	
	height:100%;	
	margin:0px;
	padding:0px;
}

.all_table_CSS tr:hover td{    
    background-color:#999; /* grey */  
}
.all_table_CSS tr:first-child td{	
	background-color:#FFF;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 1px 1px 0px;
	font-size:13px;
	font-family:Comic Sans MS;
	font-weight:bold;
	color:#000000;
} 
   
 .all_table_CSS td{
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:12px;
	font-family:Comic Sans MS;
	color:#000000;
}
 
.all_table_CSS tr:first-child td:first-child{
	border-width:0px 1px 1px 0px;
}
 .all_table_CSS tr:first-child td:last-child{
	border-width:0px 0px 1px 0px;
} 
.all_table_CSS tr:last-child td{
	border-width:0px 1px 0px 0px;
}
.all_table_CSS tr td:last-child{
	border-width:0px 0px 1px 0px;
}
.all_table_CSS tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.all_table_CSS tr:last-child td:first-child{	
    -moz-border-radius-bottomleft:9px;	
    -webkit-border-bottom-left-radius:9px;	
    border-bottom-left-radius:9px;
}
.all_table_CSS tr:last-child td:last-child {	
	-moz-border-radius-bottomright:9px;	
	-webkit-border-bottom-right-radius:9px;	
	border-bottom-right-radius:9px;
}  
.all_table_CSS tr:first-child td:first-child {	
    -moz-border-radius-topleft:9px;	
    -webkit-border-top-left-radius:9px;	
    border-top-left-radius:9px;
}
.all_table_CSS tr:first-child td:last-child {	
    -moz-border-radius-topright:9px;	
    -webkit-border-top-right-radius:9px;	
    border-top-right-radius:9px;
}

.inputPredicttextbox {
    position:relative;
    width:70px;
}